:root {
    --color-primary-50: #29FD22;
    --color-primary-100: #FAE100;
    --color-primary-200: #867939;
    --color-primary-300: #FDE047;
    --color-primary-400: #2DD4BF;
    --color-primary-500: #14B8A6;
    --color-primary-600: #0891B2;
    --color-primary-700: #4338CA;
    --color-primary-800: #9F1239;
    --color-primary-900: #18181B;
}