:root {
    --primary-300: #FDE047;
    --primary-400: #2DD4BF;
    --primary-500: #14B8A6;
    --primary-600: #0891B2;
    --primary-700: #4338CA;
    --primary-800: #9F1239;
    --primary-900: #18181B;
}